<style>
  .navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/img/bpslogo.webp" alt="Logo">
        BPS | Buku Tamu Management
      </a>
    </div>
  </nav>
</header>

