<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} |  Buku Tamu BPS</title>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    {{> header}}
    {{{body}}}
        <!-- Bootstrap JS and Popper.js -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/popper/popper.min.js"></script>

</body>
</html>